<div class="container">
<div class="p-3">
  <h2>Places</h2>
  <div class="m-3">
  <% if @current_user %>
  <ul>
  <div class= "col-md-3 col-sm-6 list-group">
    <% for place in @places %>
      <a class="list-group-item list-group-item-action" href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    <% end %>
    </div>
  </ul>
  </div>
  <p>
    <a class="btn btn-primary" href="/places/new">New place</a>
  </p>
  <% else %>
  You must first <a href="/login">login</a> to view places.
  <% end %>
</div>
</div>